<div class="commit_summary">
  <p><a href="/commits/<%= @commit.id %>"><pre><%= @commit.message %></pre></a></p>
  <p><%= @commit.committer %></p>
</div>

<% @commit.show.each do |c| %>
  <div class="diff">
    <pre><%= ERB::Util.h(c.diff) %></pre>
  </div>
<% end %>
