<!DOCTYPE html>
<html>
  <head>
    <title>Glog</title>
    <link rel="stylesheet" href="/glog.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div>
      <a href="/">Home</a>
    </div>

    <%= yield %>
  </body>
</html>
